body {
    background-color: rgba(0, 0, 0, 0.734);
}
#verif {
    text-align: center;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    padding-top: 10px;
}

h1 {
    text-align: center;
    color: white;
}

@media (max-width: 480px) {
    body {
        background-color: black;
    }
    
    #verif {
        height: 500px;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: white;
        color: black;
        margin: auto;
    }

    h1 {
        color: blue;
        width: 100%;
        padding-bottom: 20px;
        margin: auto;
    }
}
