body {
    background-color: rgba(0, 0, 0, 0.734);
}
#verif {
    text-align: center;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: white;
    color: black;
    padding-top: 10px;
}

h1 {
    text-align: center;
    color: white;
}

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        background-color: gray;
    }
    
    #verif {
        height: 480px;
        width: 400px;
        text-align: center;
        background-color: white;
        color: black;
        margin: auto;
    }

    h1 {
        width: 400px;
        padding-top: 20px;
        margin: auto;
    }

}
